# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*~
*.swp
*.a
*.jar
*.iml
/.idea
/.vscode
/output*
/**/*.zip
/**/.DS_Store
/**/libexec
/**/*.db
/**/*.db.lock
/**/*.pyc
/**/*debug.test
/**/debug
/**/*.log
/cover*.out
/example/**/*-cert
/**/processes.history*
/**/node_modules
/**/__package
docs/_build